interactions:
- request:
    body: '{"account_name": "acnt1", "bucket": "storage_bucket", "credentials": {"type":
      "service_account", "project_id": "test", "private_key_id": "1234567890", "private_key":
      "...", "client_email": "test@test.iam.gserviceaccount.com", "client_id": "12345678",
      "auth_uri": "https://accounts.google.com/o/oauth2/auth", "token_uri": "https://accounts.google.com/o/oauth2/auth",
      "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
      "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/test@test.iam.gserviceaccount.com"},
      "region": "us-west1-a", "requesting_user": "user1", "testing_account": "testacnt",
      "is_publishing_account": true}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://127.0.0.1:5000/accounts/gce/
  response:
    body:
      string: '{"name":"acnt1"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: CREATED
version: 1
