interactions:
- request:
    body: '{"account_name": "acnt1", "bucket": "storage_bucket", "credentials": {"type":
      "service_account", "project_id": "test", "private_key_id": "1234567890", "private_key":
      "...", "client_email": "test@test.iam.gserviceaccount.com", "client_id": "12345678",
      "auth_uri": "https://accounts.google.com/o/oauth2/auth", "token_uri": "https://accounts.google.com/o/oauth2/auth",
      "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
      "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/test@test.iam.gserviceaccount.com"},
      "cloud": "gce", "region": "us-west1-a", "requesting_user": "user1"
      "testing_account": "testacnt", "is_publishing_account": true}'
    headers:
    method: POST
    uri: http://127.0.0.1:5000/add_account
  response:
    body: {string: '{"status":"Add account request submitted."}

        '}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
