interactions:
- request:
    body: '{"account_name": "acnt1", "credentials": {"clientId": "123456", "clientSecret":
      "654321", "subscriptionId": "654321", "tenantId": "654321", "activeDirectoryEndpointUrl":
      "https://login.microsoftonline.com", "resourceManagerEndpointUrl": "https://management.azure.com/",
      "activeDirectoryGraphResourceId": "https://graph.windows.net/", "sqlManagementEndpointUrl":
      "https://management.core.windows.net:8443/", "galleryEndpointUrl": "https://gallery.azure.com/",
      "managementEndpointUrl": "https://management.core.windows.net/"}, "region":
      "westus", "requesting_user": "user1", "source_container": "sc1", "source_resource_group":
      "srg1", "source_storage_account": "ssa", "destination_container": "dc1", "destination_resource_group":
      "drg1", "destination_storage_account": "dsa1"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://127.0.0.1:5000/accounts/azure/
  response:
    body:
      string: '{"name":"acnt1"}

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 201
      message: CREATED
version: 1
