interactions:
- request:
    body: '{"cloud": "ec2", "cloud_accounts": [{"name": "test-aws-gov", "target_regions":
      ["us-gov-west-1"]}], "cloud_groups": ["test"], "requesting_user": "user1",
      "last_service": "pint", "utctime": "now", "image": "test_image_oem", "cloud_image_name":
      "new_image_123", "old_cloud_image_name": "old_new_image_123", "conditions":
      [{"package": ["name", "and", "constraints"]}, {"image": "version"}], "download_url":
      "http://download.opensuse.org/repositories/Cloud:Tools/images", "image_description":
      "New Image #123", "distro": "sles", "instance_type": "t2.micro", "tests": ["test_stuff"]}'
    headers:
    method: POST
    uri: http://127.0.0.1:5000/add_job
  response:
    body: {string: '{"job_id": "648ca3da-537d-4a99-831b-b69f1c5ac89e", "status": "Add
        job request submitted."}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      mimetype: [application/json]
    status: {code: 200, message: OK}
version: 1
