interactions:
- request:
    body: '{"cloud_accounts": [{"name": "test-aws-gov", "region": "us-gov-west-1"}],
      "cloud_groups": ["test"], "requesting_user": "user1", "last_service": "deprecation",
      "utctime": "now", "image": "test_image_oem", "cloud_image_name": "new_image_123",
      "old_cloud_image_name": "old_new_image_123", "conditions": [{"package_name":
      "name", "version": "4.13.1"}, {"image": "version"}], "download_url": "http://download.opensuse.org/repositories/Cloud:Tools/images",
      "image_description": "New Image #123", "distro": "sles", "instance_type": "t2.micro",
      "tests": ["test_stuff"]}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: http://127.0.0.1:5000/jobs/ec2/
  response:
    body:
      string: '{"job_id": "91b218d9-37c7-4638-9959-3259d77e3325"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      mimetype:
      - application/json
    status:
      code: 201
      message: CREATED
version: 1
