interactions:
- request:
    body: '{"cloud": "ec2", "cloud_accounts": [{"name": "test-aws-gov", "target_regions":
      ["us-gov-west-1"]}], "cloud_groups": ["test"], "requesting_user": "user1",
      "last_service": "pint", "image": "test_image_oem", "cloud_image_name": "new_image_123",
      "old_cloud_image_name": "old_new_image_123", "conditions": [{"package": ["name",
      "and", "constraints"]}, {"image": "version"}], "download_url": "http://download.opensuse.org/repositories/Cloud:Tools/images",
      "image_description": "New Image #123", "distro": "sles", "instance_type": "t2.micro",
      "tests": ["test_stuff"]}'
    headers:
    method: POST
    uri: http://127.0.0.1:5000/add_job
  response:
    body: {string: '{"error":"''utctime'' is a required property\n\nFailed validating
        ''required'' in schema:\n    {''additionalProperties'': False,\n     ''definitions'':
        {''account'': {''additionalProperties'': False,\n                                 ''properties'':
        {''name'': {''$ref'': ''#/definitions/non_empty_string''},\n                                                ''target_regions'':
        {''items'': {''$ref'': ''#/definitions/non_empty_string''},\n                                      [...]
